<section class="employees-page">
  <h2 class="red">Pracownicy:</h2>

  <app-table [columns]="columns" [actions]="actions" [dataSource]="employees()">
    <ng-template appTableColumnCell column="isFullTime" let-row="row">
      {{ row.isFullTime | booleanLabel }}
    </ng-template>

    <ng-template appTableColumnCell column="position" let-row="row">
      {{ row.position | positionLabel }}
    </ng-template>
  </app-table>

  <div class="employees-page__button-wrapper">
    <app-button (buttonClicked)="navigateToCreateEmployee()" content="Dodaj pracownika"/>
  </div>
</section>



<dialog #confirmationDialog>
  <div>
    <h2>Potwierdź</h2>
    <p>Czy na pewno chcesz usunąć pracownika?</p>
  </div>
  <div>
    <app-button content="Zamknij" (buttonClicked)="confirmationDialog.close()"/>
  </div>
</dialog>
