.button {
  background-color: unset;
  padding: var(--space-2) var(--space-3);
  border: 1.5px solid var(--primary-color-400);
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: var(--primary-color-400);
    transition: background-color 0.2s linear;
  }
}
