<table class="table">
  <thead>
    <tr class="table__row">
      @for (column of columns(); track column) {
        <th class="table__heading">{{column.label}}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of dataSource(); track row) {
      <tr class="table__row">
        @for (column of columns(); track column) {
          <td class="table__data">
            @if (customCells()[column.property]; as customCellTemplate) {
              <ng-container [ngTemplateOutlet]="customCellTemplate" [ngTemplateOutletContext]="{row: row}"/>
            } @else {
              {{row[column.property]}}
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
