.table {
  border-collapse: collapse;

  &__data, &__heading {
    border: 1px solid var(--gray-color-100);
    padding: var(--space-3);
    border-collapse: collapse;
  }

  &__heading {
    background-color: var(--gray-color-200);
    text-transform: uppercase;
  }

  &__action {
    background-color: unset;
    border: 1px solid var(--primary-color-500);
    cursor: pointer;
    padding: var(--space-1);
    margin: var(--space-1);
    border-radius: 50%;

    &:hover {
      background-color: var(--primary-color-500);
      transition: background-color 0.2s linear;
    }
  }

  &__empty-text {
    width: 100%;
    text-align: center;
    border: 1px solid var(--gray-color-200);
  }
}

@media screen and (max-width: 600px) {
  .table {
    border: 0;

    &__head {
      display: none;
    }

    &__data {
      display: block;
      font-size: 0.9rem;
      text-align: right;
    }

    &__actions {
      display: flex;
      justify-content: center;
      margin-bottom: var(--space-2);
    }

    &__data::before {
      content: attr(title);
      float: left;
      font-weight: bold;
      margin-right: var(--space-3)
    }
  }
}
