@use 'styles/colors';
@use 'styles/typography';
@use 'styles/utils';
@use 'styles/field';
@use 'styles/spacing' with (
  $levels: 5,
  $multiplier: 4
);


:root {
  @include colors.initialize-palettes();
  @include spacing.initialize-spacing();
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
